<h1>Verify login code</h1>

<p>Look for a 6 digit code in the inbox or spam folder.</p>

<%= form_with model: @authentication, url: url_for(action: :update), data: { turbo: false }, method: :patch do |f| %>
  <%= f.label :code %>
  <%= f.text_field :code, autofocus: true %>
  <%= f.submit "Continue" %>
<% end %>

<% if @authentication.errors.any? %>
  <p><%= @authentication.errors.full_messages.to_sentence %></p>
<% end %>

<p>
  Launch
  <%= link_to "Gmail", "https://gmail.com/", target: "_blank" %>
  |
  <%= link_to "Outlook", "https://outlook.live.com/", target: "_blank" %>
  |
  <%= link_to "Yahoo Mail", "https://mail.yahoo.com/", target: "_blank" %>
</p>
