<h1>Sign in</h1>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% else %>
  <p>Enter your email address and we'll send you a link to sign in.</p>
<% end %>

<%= form_with url: create_url, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :email, "Email address" %>
    <%= f.email_field :email, name: "nopassword_email_authentication[email]", value: @authentication.email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if @authentication.errors[:email].any? %>
    <p><%= @authentication.errors[:email].to_sentence %></p>
  <% end %>

  <%= f.submit "Continue" %>
<% end %>
